body {
    background-image: linear-gradient(to bottom right,red,green,blue);
}
h1{
    color:darkgrey;
    text-align: center;
    font-weight:bold;
    text-shadow: 3px 3px 5px black;
}
h3{
    color:black;
    text-align: center;
    font-weight:bold;
}
.div1{
    margin:0 auto;
    width:70%;
}
input{
    background-color: blueviolet;
    width: 90%;
    text-align: center;
}
button{
    background-color: crimson;
    font-size:medium;
    
}
.div2{
    padding-top:4%;
    margin:0 auto;
    width:80%;
}
video{
    width:100%;
}

